In [2]:
x = 0

while x <= 10:
    print(x)
    x += 1
    if x == 6:
        break

0
1
2
3
4
5

In [5]:
x = 1
while x <= 20:
    print(x)
    x += 2
    if x == 15:
        break
        
    else:
        continue

1
3
5
7
9
11
13

In [9]:
a = 1

while a < 12:
    print('a = ', a)
    a = a + 1
    if a == 9:
        pass

a =  1
a =  2
a =  3
a =  4
a =  5
a =  6
a =  7
a =  8
a =  9
a =  10
a =  11

In [12]:
 mylist  = list(range(10))

In [13]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list2 = tuple(range(0, 12, 2))

In [15]:
list2

(0, 2, 4, 6, 8, 10)

In [21]:
x = set(range(0, 101, 10))

In [22]:
x

{0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [23]:
for i in 'word':
    print(i)

w
o
r
d

In [26]:
var = [i for i in 'word']

In [27]:
var

['w', 'o', 'r', 'd']

In [29]:
for i in range(2, 12):
    z = i**2
    print(z)

4
9
16
25
36
49
64
81
100
121

In [31]:
z = [i**2 for i in range(2, 12)]

In [32]:
z

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [35]:
for i in range(0, 11):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

In [37]:
lst = [i for i in range(0, 11) if i % 2 == 0]

In [38]:
lst

[0, 2, 4, 6, 8, 10]